body{
    text-align: center;
    padding: 10px;
}

.array-container {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .array-box {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
