.array-container {
  display: flex;
}

.array-box {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.array-box.highlight {
  opacity: 0.3;
}